<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs"); %>
<body>
    <%- include("../partials/header.ejs",{userid:id}) %>
    <button type="submit" onclick="createNewList()">create new shopping list</button>
    <div  id="AddItemDiv">
    <input type="text" id="itemName" placeholder="item" />
    <input type="number" id="quanti" placeholder="quantity"/>
    <button type="submit" onclick="addItem()">add Item</button>
    </div>
    <div>
        <input type="text" id="partnerName" placeholder="Avi" />
        <button onclick="addPartner()">add partner</button>
    </div>
    <div id="listItems">
    <h2> Shopping list:</h2>
    <% shoppingLists.forEach((item) => { %>
        <%- include("../partials/item.ejs",{item:item}); %>
    <% });%>
    <% if (listID) { var listIdOfUser=listID;} %>
    </div>
    <button type="button" onclick="finish()">update partners</button>
    <button type="button" onclick="toHistory()">move list to history</button>
    <script>
        const userID=window.localStorage.getItem("userID");
        let listID = JSON.parse('<%- JSON.stringify(listIdOfUser) %>');
        if(listID)
        {
            window.localStorage.setItem("listID",listID);
        }
        const createNewList=async()=>{
            const itemName = document.getElementById("itemName").value;
            const quantity = document.getElementById("quanti").value;
            if(itemName && quantity){
            const data = { items: [{ itemName, quantity: parseInt(quantity), isBought: false }] };
            const updated = await postnewlist(data);
            if (updated) {
               window.location.replace(`http://localhost:5050/shoppingList/${userID}`);
            }
        }
        else{
            alert("you have to add a new item to new list");
        }
        }
        const addItem=async ()=>{
            const itemName = document.getElementById("itemName").value;
            const quantity = document.getElementById("quanti").value;
            if(itemName && quantity){
            const data={id:listID,item: { itemName, quantity: parseInt(quantity), isBought: false } }
            const response = await fetch(`http://localhost:5050/additem/${userID}`, {
                method:
                    "POST",
                body:
                    JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json"
                }
            });
            const { result } = await response.json();
            if(result){
                window.location.replace(`http://localhost:5050/shoppingList/${userID}`);
            }
        }
        else{
            alert("you needto fill in the details");
        }

        }
        const finish=async ()=>{
            let listID = window.localStorage.getItem("listID");
           const itemList= document.getElementsByClassName("checkedbox"); 
           let updateData=[];
           for(let i=0;i<itemList.length; i++)
           {
            updateData=[...updateData,{ id: listID, itemID: itemList[i].value , isBought: itemList[i].checked }]
           }
           console.log("the update: ",updateData)
           const data={id: listID,itemID:"item", isBought:true};
           console.log("the data: ",data);
           const response = await fetch(`http://localhost:5050/updateBought/${userID}`, {
                method:
                    "POST",
                body:
                    JSON.stringify(updateData),
                headers: {
                    "Content-Type": "application/json"
                }
            });
            const responseJson=await response.json();
            if(responseJson)
            {
                console.log("success", responseJson);
            }
        };
        const postnewlist = async (data) => {
                const response = await fetch(`http://localhost:5050/newShopping/${userID}`, {
                    method:
                        "POST",
                    body:
                        JSON.stringify(data),
                    headers: {
                        "Content-Type": "application/json"
                    }
                });
                const { shopResult } = await response.json();
                if (shopResult) {
                    console.log("inside the if to the if to add to user");
                    await localStorage.setItem("listID", shopResult);
                const response2 = await fetch(`http://localhost:5050/users/addShopping/${userID}`, {
                    method:
                        "POST",
                    body:
                        JSON.stringify({ shopinglist: shopResult }),
                    headers: {
                        "Content-Type": "application/json"
                    }
                });
                const result2=await response2.json();
                return result2;
            };
        }
        const toHistory= async()=>{
            window.location.replace(`http://localhost:5050/history/${userID}`);
        }

        const deleteTheItem=async (itemId)=>{
            const data= {listId: listID , itemId: itemId};
            const response = await fetch(`http://localhost:5050/deleteitem`, {
                method:
                    "POST",
                body:
                    JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json"
                }
            });
            const { result } = await response.json();
            if (result) {
                window.location.replace(`http://localhost:5050/shoppingList/${userID}`);
            }
        };
        const addPartner= async()=>{
            let partner=document.getElementById("partnerName").value;
            if(partner)
            {
                const data={id: userID, partnerId: partner };
                console.log("partner name: ",partner);
                const response = await fetch(`http://localhost:5050/addPartner/:${userID}`, {
                    method:
                        "POST",
                    body:
                        JSON.stringify(data),
                    headers: {
                        "Content-Type": "application/json"
                    }
                });
                const { result } = await response.json();
            }
            else{
                alert("toy need to add a name");
            }
        };
    </script>
</body>
</html>
