<div class="itemDiv">
    <p>Item Name: <%= item.itemName  %></p>
    <p>Quantity:<%= item.quantity  %></p>
    <input type="checkbox" value=<%=item.itemName%> <%= item.isBought ? "checked" : ''%> />
</div>
